<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${#strings.isEmpty(adopcion.idAdopcion) ? 'Agregar Adopción' : 'Editar Adopción'}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{navbar :: body}"></div>
<div class="container mt-4">
    <h1 th:text="${#strings.isEmpty(adopcion.idAdopcion) ? 'Agregar Adopción' : 'Editar Adopción'}"></h1>
    <form th:action="@{/adopciones}" th:object="${adopcion}" method="post" class="form-inline">
        <div class="form-group mb-2">
            <label for="idUsuario" class="mr-2">ID Usuario:</label>
            <input type="text" id="idUsuario" th:field="*{idUsuario}" class="form-control mr-2" placeholder="ID Usuario" required />
        </div>
        <div class="form-group mb-2">
            <label for="idMascota" class="mr-2">ID Mascota:</label>
            <input type="text" id="idMascota" th:field="*{idMascota}" class="form-control mr-2" placeholder="ID Mascota" required />
        </div>
        <div class="form-group">
            <label for="fechaSolicitud">Fecha de Solicitud:</label>
            <input type="date" id="fechaSolicitud" name="fechaSolicitud" class="form-control" th:field="*{fechaSolicitud}" required>
        </div>

        <div class="form-group mb-2">
            <label for="estadoSolicitud" class="mr-2">Estado:</label>
            <select id="estadoSolicitud" th:field="*{estadoSolicitud}" class="form-control mr-2">
                <option value="pendiente" th:text="'Pendiente'">Pendiente</option>
                <option value="aprobada" th:text="'Aprobada'">Aprobada</option>
                <option value="rechazada" th:text="'Rechazada'">Rechazada</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Guardar</button>
    </form>
</div>
</body>
</html>
